<?xml version="1.0" ?>
<!--
/**
* Lunu admin configuration
*
* @category  Lunu
* @package   Lunu_Payment
* @author    Lunu Solutions GmbH
* @copyright   Lunu Solutions GmbH (https://lunu.io)
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="lunu" id="lunu">
            <module name="Lunu_Merchant"/>
        </route>
    </router>
</config>
